/* popup styles */
body {
    font-size: 90%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 240, 240);
    width: 434px;
    height: 100%;
    background-color: #757272
    }
.tab {
    overflow: hidden;
    border: 1px solid #3d3a3a;
    background-color: #565252;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #565252;
    border-top: none;
}


.tabheader {
    width: 40px; 
    height: 40px
}

.rgbinput {
    width: 25px;
}

.hexinput {
    width: 50px;
    margin-left: 4px;
}

#color-background {
    width:100px; 
    background-color: rgb(52, 124, 124); 
    margin-top: 250px;
}



/* radio button styles */

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: rebeccapurple;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #565252;
}

/* focus style */
/* .checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; 
} */







/* spectrum color picker styles */

.full-spectrum .sp-palette {
    max-width: 200px;
    }
    
    #Contrast-Helper{
        height: 400px;
    }